:root {
  --primary-color: #ff7e5f;  /* Warm peach */
  --secondary-color: #feb47b; /* Soft orange */
  --tertiary-color: #86a8e7;  /* Light blue */
  --success-color: #91eae4;   /* Cool cyan */
  --text-color-navy: #2c3e50; /* Dark navy */
  --text-color-black: #2f2f2f; /* Dark gray */
}

/* Gradient Background */
.gradient-background {
  background: linear-gradient(300deg, var(--primary-color), var(--secondary-color), var(--tertiary-color), var(--success-color));
  background-size: 200% 200%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Icons */
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

/* Profile Image */
.profile-img {
  border-radius: 50%;
  height: 250px;
}

/* Header Image */
.header-img {
  display: block;
  width: 100%;
  max-width: 750px;
  height: auto;
}

/* Typography */
h4 {
  color: var(--text-color-black);
  font-style: oblique;
  font-size: 1.75rem;
}

h5 {
  color: var(--text-color-navy);
  font-style: oblique;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
}
